<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>chooseAddressInMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>381360C81F68DA7E00A6C91D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381360E11F68DA7E00A6C91D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>381360EC1F68DA7E00A6C91D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
